/**
------------------------------------------------------
styles specific to the Dropdown component
------------------------------------------------------
**/

.dropdown {
  position: relative;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--color-gray-800);
  margin-bottom: 0.5rem;
}

.input {
  flex: 1;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 0.87rem;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-white);
  color: var(--color-black);
  color-scheme: light;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &:focus {
    outline: none;
    border-color: var(--color-indigo);
    box-shadow: 0 0 0 0.2rem var(--color-indigo-alpha-25);
    outline: none;
  }

  &:disabled {
    background-color: #e9ecef;
    color: var(--color-gray-400);
    cursor: not-allowed;
  }
}

.list {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid var(--color-gray-220);
  border-radius: 6px;
  background: var(--color-white);
  box-shadow: 0 4px 8px var(--color-black-alpha-10);
  max-height: 12rem;
  overflow-y: auto;
  z-index: 100;

  // smooth open/close animation
  animation: fadeIn 0.15s ease-in-out;
}

.option {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-size: 0.95rem;
  color: var(--color-gray-700);
  transition:
    background 0.2s ease,
    color 0.2s ease;

  &:hover,
  &.highlighted {
    background: var(--color-option-hover-bg);
  }

  &.selected {
    font-weight: 600;
    background: darker(var(--color-option-selected-bg), 15%);
    color: var(--color-option-selected-text);
  }
}

.noOptions {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  color: var(--color-gray-350);
  text-align: center;
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 2.5rem;
  }
}

.chevronIcon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000000;
  transition: transform 0.2s ease;
}

.loading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-gray-320);
  font-size: 0.875rem;
  height: 45px;
  .spinner {
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--icon-color-info);
    border-top-color: transparent;
    border-radius: 9999px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
