/**
------------------------------------------------------
styles specific to the PasswordFeedback component
------------------------------------------------------
**/

.container {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
  font-size: 0.85rem;
  line-height: 1.4;

  .subContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      position: relative;
      color: var(--color-gray-600);
    }

    .valid {
      margin-left: 0.5rem;
    }
  }
}
