@import '../../../styles/mixins';

.createAccountContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  // Base styles for labels & elements
  .title {
    font-size: 1.3rem;
    text-align: center;
  }

  .subTitle {
    font-size: 0.85rem;
    text-align: center;
  }

  .termStatusCheckbox {
    display: flex;
    flex: 1;
    align-items: flex-start;
    font-size: 0.85rem;
    gap: 6px;
  }

  .termsPolicy {
    color: var(--color-indigo);
  }

  .submitButton {
    color: var(--color-white);
  }

  &__field {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    min-width: 0;
    width: 100%;
  }

  // Tablet styles
  @include respond-to(md) {
    .title {
      font-size: 1.5rem;
    }

    .subTitle {
      font-size: 0.9rem;
    }

    .termStatusCheckbox {
      font-size: 0.9rem;
      align-items: flex-start;
    }

    &__field--half {
      flex: 0 0 calc(50% - 0.5rem);
    }

    &__field--third {
      flex: 0 0 calc((100% - 2rem) / 3);
    }
  }

  // Desktop styles
  @include respond-to(lg) {
    padding: 2rem;

    .title {
      font-size: 32px;
      font-weight: 700;
    }

    .subTitle {
      font-size: 20px;
    }

    .termStatusCheckbox {
      font-size: 16px;
      gap: 10px;
      align-items: center;
    }
  }
}
