@use '../../../styles/mixins' as *;

.createAccountContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  .title {
    font-size: 1.3rem;
    text-align: center;
  }

  .subTitle {
    font-size: 0.85rem;
    text-align: center;
    color: var(--color-gray-800);
    margin-bottom: 0.5rem;
    opacity: 0.9;
  }

  .termStatusCheckbox {
    display: flex;
    flex: 1;
    align-items: flex-start;
    font-size: 0.85rem;
    gap: 6px;
  }

  .termsPolicy {
    color: var(--color-indigo);
  }

  .submitButton {
    color: var(--color-white);
  }

  // Tablet styles
  @include respond-to(md) {
    .title {
      font-size: 1.5rem;
    }

    .subTitle {
      font-size: 0.9rem;
    }

    .termStatusCheckbox {
      font-size: 0.9rem;
      align-items: flex-start;
    }
  }

  // Desktop styles
  @include respond-to(lg) {
    padding: 2rem;

    .title {
      font-size: 32px;
      font-weight: 700;
    }

    .subTitle {
      font-size: 20px;
    }

    .termStatusCheckbox {
      font-size: 16px;
      gap: 10px;
      align-items: center;
    }
  }
}
