/**
------------------------------------------------------
styles specific to the TextField component
------------------------------------------------------
**/

.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--color-gray-800);
  margin-bottom: 0.5rem;
}

.inputField {
  font-size: 1rem;
  padding: 0.75rem 0.87rem;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-white);
  color: var(--color-black);
  color-scheme: light;

  &:focus {
    outline: none;
    border-color: var(--color-indigo);
    box-shadow: 0 0 0 0.2rem var(--color-indigo-alpha-25);
  }

  &:disabled {
    background-color: var(--color-gray-50);
    color: var(--color-gray-400);
    cursor: not-allowed;
  }
}

.errorText {
  color: var(--color-red-500);
  font-size: 0.875rem;
  margin-top: 4px;
}
