@import '../../../styles/mixins';

.createAccountContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  .title {
    font-size: 1.3rem;
    text-align: center;
  }

  .subTitle {
    font-size: 0.85rem;
    text-align: center;
  }

  .forgotPassword {
    color: #667eea;

    &:hover {
      color: #764ba2;
    }
  }

  .signUpText {
    color: #667eea;
    font-size: 16px;

    &:hover {
      color: #764ba2;
    }
  }

  .submitButton {
    color: var(--color-white);
  }

  // 👉 At tablet size
  @include respond-to(md) {
    .title {
      font-size: 1.5rem;
      text-align: center;
    }

    .subTitle {
      font-size: 0.85rem;
      text-align: center;
    }
  }

  // 👉 At desktop size
  @include respond-to(lg) {
    .title {
      font-size: 32px;
      text-align: center;
      font-weight: 700;
    }

    .subTitle {
      font-size: 20px;
      text-align: center;
    }
  }

  @include respond-to(lg) {
    padding: 3rem;
  }
}
